<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <strong>CloudX.One</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">DashBoard<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Flows</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hosts
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Hosts</a>
                    <a class="dropdown-item" href="#">Network</a>
                    <a class="dropdown-item" href="#">Host Pools</a>
                    <a class="dropdown-item" href="#">Autonomous Systems</a>
                    <a class="dropdown-item" href="#">Countries</a>
                    <a class="dropdown-item" href="#">Operating systems</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="fa fa-binoculars" aria-hidden="true"></i> Looking Glass</a>
                    <a class="dropdown-item" href="#">HTTP Servers</a>
                    <a class="dropdown-item" href="#">
                      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Top Hosts</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="fa fa-map-marker" aria-hidden="true"></i> Geo Map</a>
                    <a class="dropdown-item" href="#">
                      <i class="fa fa-sitemap" aria-hidden="true"></i> Tree Map</a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-table" aria-hidden="true"></i> Local Flow Matrix</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Devices
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Incoming</a>
                    <a class="dropdown-item" href="#">Outgoing</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" href="#">Network</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Interfaces
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Incoming</a>
                    <a class="dropdown-item" href="#">Outgoing</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" href="#">Network</a>
                  </div>
              </li>
            </ul>
            <div>
              <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
            <div>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-id-card-o" aria-hidden="true"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-gear" aria-hidden="true"></i> Settings</a>
                  </div>
              </li>
            </ul>
          </div>
        </div>
    </nav>
</div>